$tag-lightblack: #595959;
$tag-black: #403C3C;
$tag-yellow: #FFFEE2;

.admin-page-tags {
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;

    .tag-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.tag-container {
    box-sizing: border-box;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    background-color: $tag-black;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 24px;
    padding-bottom: 24px;

    .tag-label {
        color: $tag-yellow;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        display: block;
        font-size: 32px;
    }

    .tags {
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;

        .tag {
            box-sizing:  border-box;
            display: flex;
            flex-direction: row;
            padding-left: 24px;
            padding-right: 24px;

            select {
                background-color: $tag-black;
                min-width: 33%;
                max-width: 33%;
                box-sizing:  border-box;
                height: 32px;
                color: $tag-yellow;
                text-align: center;

                &:focus {
                    outline: none;
                }
            }

            input {
                background-color: $tag-lightblack;
                min-width: 33%;
                max-width: 33%;
                box-sizing: border-box;
                height: 32px;
                color: $tag-yellow;
                text-align: center;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            input.min {
                background-color: $tag-lightblack;
                border-left: 1px solid $tag-yellow;
                border-right: 1px solid $tag-yellow;
                border-top: none;
                border-bottom: none;
            }
        }
    }
}