.admin-page-tags {
  padding-top: 64px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box; }
  .admin-page-tags .tag-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.tag-container {
  box-sizing: border-box;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  background-color: #403C3C;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 24px;
  padding-bottom: 24px; }
  .tag-container .tag-label {
    color: #FFFEE2;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    font-size: 32px; }
  .tag-container .tags {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px; }
    .tag-container .tags .tag {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      padding-left: 24px;
      padding-right: 24px; }
      .tag-container .tags .tag select {
        background-color: #403C3C;
        min-width: 33%;
        max-width: 33%;
        box-sizing: border-box;
        height: 32px;
        color: #FFFEE2;
        text-align: center; }
        .tag-container .tags .tag select:focus {
          outline: none; }
      .tag-container .tags .tag input {
        background-color: #595959;
        min-width: 33%;
        max-width: 33%;
        box-sizing: border-box;
        height: 32px;
        color: #FFFEE2;
        text-align: center;
        border: none; }
        .tag-container .tags .tag input:focus {
          outline: none; }
      .tag-container .tags .tag input.min {
        background-color: #595959;
        border-left: 1px solid #FFFEE2;
        border-right: 1px solid #FFFEE2;
        border-top: none;
        border-bottom: none; }

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.site-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex; }

ul.side-bar {
  max-width: 300px;
  background-color: #403C3C;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  ul.side-bar li a {
    text-align: center; }
    ul.side-bar li a label {
      width: 100%;
      color: #FFFEE2; }

.container {
  flex: 1;
  background-color: #E5E5E5; }

img {
  display: inline-block;
  width: 100%;
  height: auto; }

a {
  display: inline-block; }
