@import "./admin/tags.scss";

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.site-wrapper {
    min-height: 100vh;
    position: relative;
    display: flex;
}

ul.side-bar {
    max-width: 300px;
    background-color: #403C3C;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        a {
            text-align: center;

            label {
                width: 100%;
                color: #FFFEE2; 
            }
        }
    }
}

.container {
    flex: 1;
    background-color: #E5E5E5;
}

img {
    display: inline-block;
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
}